/* body */
body {
	background: #eee;
}

/* page-container */
div#page-container{
	background: #FFF;
	width: 1000px;
	margin: 10px auto;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 2px #AAA;
}

/* page-header */
div#page-header {
	height: 80px;
	margin: 0 0 20px;
}

/* page-navigation */
div#page-nav {
	overflow: hidden;
	font-size: 1.2em;
}
div#page-nav ul {
	height: 30px;
	margin: 0;
	padding: 0;
	list-style: none;
}
div#page-nav li {
	height: 30px;
	margin: 0 20px 0 0;
	display: block;
	float: left;
}
div#page-nav a {
	height: 30px;
	display: block;
	text-decoration: none;
	line-height: 30px;
}
div#page-nav a:hover {
	text-decoration: underline;
}

div#page-nav li.search {
	margin: 0;
	float: right;
	position: relative;
}
div#page-nav li.search input[type=image] {
	width: 24px;
	position: absolute;
	right: 4px;
	top: 4px;
}

/* page-message */
div#page-message {
}
div#page-message span.error {
	color: #F00;
}

/* page-footer */
div#page-footer {
	margin: 10px 0 0;
	text-align: center;
}

/* customer-details */
div#customer-details label {
	width: 150px;
	display: inline-block;
}