/* PAGE CONTAINER */
div#page-container{
	width: 1000px;
	margin: 10px auto;
}

/* PAGE HEADER */
div#page-header {
}

/* PAGE NAV */
div#page-nav {
	margin: 10px 0;
	border: 1px solid;
	border-radius: 5px;
	overflow: hidden;
}
div#page-nav ul {
	margin: 5px;
	padding: 0;
	list-style: none;
}
div#page-nav li {
	margin: 0 20px 0 0;
	display: block;
	float: left;
}

/* PAGE MESSAGE */
div#page-message {
}
div#page-message span.error {
	color: #F00;
}

/* PAGE FOOTER */
div#page-footer {
	margin: 10px 0 0;
	text-align: center;
}