/* body */
body {
	background: #eee;
}

/* page-container */
div#page-container{
	background: #FFF;
	width: 1000px;
	margin: 10px auto;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 2px #AAA;
}

/* page-header */
div#page-header {
	height: 80px;
	margin: 0 0 20px;
}
div#page-header input {
	margin: 1px 0;
}

/* page-navigation */
div#page-nav {
	width: 1000px;
	margin: 0 0 0 -20px;
	padding: 0 20px;
	background: rgb(255, 204, 153);
	overflow: hidden;
	font-size: 1.2em;
}
div#page-nav ul {
	height: 35px;
	margin: 0;
	padding: 0;
	list-style: none;
}
div#page-nav li {
	height: 35px;
	margin: 0 20px 0 0;
	display: block;
	float: left;
}
div#page-nav a,
div#page-nav a:visited {
	height: 35px;
	display: block;
	text-decoration: none;
	line-height: 35px;
	color: #000;
}
div#page-nav a:hover {
	text-decoration: underline;
}

div#page-nav li.search {
	margin: 0;
	float: right;
	position: relative;
}
div#page-nav li.search form {
	margin: 3px 0 0;
}
div#page-nav li.search input[type=image] {
	width: 24px;
	padding: 0;
	position: absolute;
	right: 3px;
	top: 6px;
	border: none;
}

/* page-message */
div#page-message {
	margin: 20px 0;
}
div#page-message span.error {
	color: #F00;
}

/* page-content */
div#page-content {
	overflow: hidden;
}
div#page-content div.left-content {
	width: 680px;
	float: left;
}
div#page-content div.right-content {
	width: 300px;
	float: right;
}

/* page-footer */
div#page-footer {
	margin: 10px 0 0;
	text-align: center;
}

/* customer-details */
div#customer-details label {
	width: 150px;
	display: inline-block;
}