/* PAGE CONTAINER */
div#page-container{
	width: 1000px;
	margin: 10px auto;
	border: 1px solid #000;
}

/* PAGE HEADER */
div#page-header {
	border-bottom: 1px solid #000;
}

/* PAGE NAV */
div#page-nav {
	margin: 10px 0;
	border-bottom: 1px solid #000;
}

/* PAGE MESSAGE */
div#page-message {
	border-bottom: 1px solid #000;
}
div#page-message span.error {
	color: #F00;
}

/* PAGE FOOTER */
div#page-footer {
	margin: 10px 0 0;
	border-top: 1px solid #000;
	text-align: center;
}